services:
  strapi:
    image: ghcr.io/redaezziani/bikes-shop-strapi:latest
    container_name: bikes-shop-strapi
    restart: unless-stopped
    env_file:
      - .env
    environment:
      HOST: 0.0.0.0
      PORT: 1337
      FRONTEND_URL: http://72.61.203.223
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - '1337:1337'
    volumes:
      - ./data:/app/.tmp
      - ./public/uploads:/app/public/uploads
    networks:
      - strapi-network
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:1337/admin',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  redis:
    image: redis:7-alpine
    container_name: bikes-shop-redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --maxmemory 512mb --maxmemory-policy allkeys-lru --appendonly yes
    volumes:
      - redis-data:/data
    networks:
      - strapi-network
    healthcheck:
      test: ['CMD', 'redis-cli', '--raw', 'incr', 'ping']
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  strapi-network:
    driver: bridge

volumes:
  strapi_data:
    driver: local
  redis-data:
    driver: local
